/* Write your global styles here, in PostCSS syntax */
@tailwind base;

/* /greeencalendar2021/ */
@font-face {
	font-family: 'NetlifeSans';
	src: url('fonts/Netlife-Regular.eot');
	src: url('fonts/Netlife-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/Netlife-Regular.woff') format('woff'),
		url('fonts/Netlife-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'NetlifeSans';
	src: url('fonts/Netlife-Bold.eot');
	src: url('fonts/Netlife-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/Netlife-Bold.woff') format('woff'),
		url('fonts/Netlife-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root{
	font-family: 'NetlifeSans', Arial, sans-serif;
	--font-sans: 'NetlifeSans', Arial, sans-serif;

	--text-sm: clamp(18px, 1.6vw, 36.25px);
	--text-md: clamp(26px, 2.5vw, 58px);
	--text-lg: clamp(42px, 4.5vw, 116px);

	--pure-white: #ffffff;
	--text-color: #000000;
	--heading-color: #000000;
	--background-color: #f6f6f6;

	--primary-color: #2ee57c;
	--primary-color-dark: #1e8928;
	--bacon-color: #ff577f;
	--lemon-color: #fff040;
	--sky-color: #3c94ff;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color);
	font-size: clamp(18px, 1.6vw, 36.25px);

}

#svelte {
	/* width: 100vh;
	height: 100vh;
	min-height: 100vh; */
}

/* Headings */
h1,
h2,
h3 {
	font-family: NetlifeSans, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.1;
	margin-top: 0;
	margin-bottom: 0.4em;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	font-feature-settings: 'ss03'; /* Includes curly N M W glyphs */
}

h1 {
	font-size: clamp(26px, 2.5vw, 58px);
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 1.6rem;
	text-indent: -0.05em;
	letter-spacing: -0.1rem;
}

h2 {
	font-size: clamp(26px, 2.5vw, 58px);
}

li, p {
	line-height: 1.5;
	margin-bottom: 1rem;
}
ol, ul {
	padding-left: 1.125em;
	margin-top: 0;
	margin-bottom: 1.6em;
}
ul>li:before {
	content: "";
	background-color: #29cb7e;
	width: .5rem;
	height: .5rem;
	border-radius: 50%;
	float: left;
	margin-left: -1em;
	margin-top: .55em;
	display: inline-block;
}


:global(.content p) {
  margin-top: 0.5rem  ;
}
:global(.content a) {
  margin-top: 0.5rem  ;
  margin-bottom: 1rem;
}

a {
	color: var(--text-color);
  color: $color-dark;
  font-weight: 400;
  text-decoration: none;
}

a:hover,
a:focus {
	color: $color-action;
	text-decoration: underline;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@tailwind components;
@tailwind utilities;
